/* loader */
.loader {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 220px auto;
  .logo {
    width: 45%;
    position: absolute;
    left: 27.5%;
    top: 27.5%;
    img {
      width: 100%;
      z-index: 5;
    }
  }
}
.bounce1,
.bounce2,
.bounce3 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3c6a36;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: spreadout 2.7s infinite ease-in-out;
  animation: spreadout 2.7s infinite ease-in-out;
}
.bounce2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.bounce3 {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}
@-webkit-keyframes spreadout {
  0% {
    -webkit-transform: scale(0.3);
  }
  80% {
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes spreadout {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
/* navbar */
ul li a {
  margin-right: 30px;
}
/* icon */
.icon {
  cursor: pointer;
}
.wrapper {
  top: 5%;
  left: 50%;
  margin-left: 44%;
  transform: translate(-50%, -50%);
}
.search-data {
  top: 56%;
  right: 49%;
  transform: translate(-150%, 150%);
}
.wrapper {
  position: fixed;
  height: 0px;
  width: 0px;
  border-radius: 100%;
  background: linear-gradient(-135deg, #3c6a36, #63b159);
  transition: all 0.4s linear;
}
.wrapper.active {
  height: 4000px;
  width: 4000px;
}
.search-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-135deg, #3c6a36, #63b159);
}
.search-btn span {
  color: #fff;
  font-size: 22px;
  line-height: 60px;
}
.search-data {
  position: absolute;
  height: 50px;
  width: 400px;
  display: flex;
  text-align: center;
  /* display: none; */
}
.search-data input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.search-data .line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear;
}
.search-data .line.active {
  transform: scaleX(1);
}
.search-data label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255, 255, 255, 0.7);
}
.search-data input:valid ~ label {
  opacity: 0;
}
.search-data span {
  color: #fff;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.search-data,
.search-data span,
.search-data label,
.close-btn {
  display: none;
}
/* card */
.icon-card {
  position: absolute;
  top: 35px;
  left: 85px;
}
.iconcard {
  position: absolute;
  top: 53px;
  left: 100px;
}
.cardtag {
  position: relative;
  top: 27px;
  color: #3c6a36;
}
.cards {
  border-style: double;
  border-width: 8px;
}
.card-texts h5:hover {
  color: #f6f466;
}
.cards:hover {
  background-color: #3c6a36;
  color: #fff;
  border-color: #fff;
}
#card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 120px;
  margin-top: 180px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 24;
  font-size: 48px;
}
/* Vegetable */
.card2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 170px 0;
  padding-left: 25%;
  gap: 50px;
}
.imgtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  color: #3c6a36;
  background-image: url(img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 450px;
}
.imgtext h2 {
  font-weight: 700;
  color: #927f4c;
}
.card-2 {
  border: none;
}
/* Approach */
.Approach {
  margin: 190px 0;
}
#section-background {
  background-image: url(./img/bunch-fresh-carrots-ai-generated-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  filter: scale(0.6);
}
.btntag {
  padding: 10px 20px;
  margin-top: 20px;
}
.btntag:hover {
  background-color: #eda407;
  outline: none;
  border: none;
}
/* Fruits */
.Fruits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 170px 0;
  padding-right: 25%;
  gap: 50px;
  direction: rtl;
}
.imgtexts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #eda407;
  background-image: url(img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 450px;
}
.imgtexts h2 {
  font-weight: 700;
  color: #3c6a36;
}
/* number */
.number {
  margin-bottom: 170px;
}
.tree {
  filter: opacity(0.4);
  filter: blur(6px);
  filter: grayscale(40%);
  height: 380px;
}
.icon {
  display: flex;
  flex-direction: row;
  direction: rtl;
  gap: 10px;
}
.icon span {
  color: #eda407;
  font-size: 60px;
  margin-top: 20px;
}
.icon h2 {
  font-size: 70px;
  color: white;
}
.icon p {
  font-size: 20px;
  color: #fff;
}
/* Comments */
.Comments {
  margin: 170px 0;
}
.profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 40px;
}
.carousel-text {
  margin-top: 160px;
}
.carousel-text p {
  margin: 20px 0;
  color: black;
}
.carousel-text h4 {
  color: #3c6a36;
}
.carsouelimg {
  background-image: url(img/bg-parallax-3.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(0.4);
  filter: blur(6px);
  filter: grayscale(40%);
}
/* OurGallery */
/* .ourcard {
  color: #fff;
  font-size: 40px;
  margin: 110px 0;
  display: none;
}
.ourcard span {
  font-size: 70px;
}
.OurGallery-img:hover {
  opacity: 0.75;
}
.ourcard:hover {
  display: block;
  color: #fff;
  border: #3c6a36 5px double;
} */
/* media screen */
@media screen and (max-width: 935px) {
  .wrapper {
    top: 38%;
  }
  .navbar-collapse {
    height: 240px;
  }
  #card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 0 40px;
    width: 476px;
  }
  .cardtag {
    left: 125px;
  }
  .card2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-right: 130px;
  }
  .Fruits {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 120px;
  }
  .Approach {
    padding: 0 50px;
  }
}
@media screen and (max-width: 400px) {
  .wrapper {
    left: 100px;
  }
  #card {
    gap: 20px;
    width: 350px;
  }
  .iconcard {
    left: 30px;
  }
  .icon-card {
    left: 30px;
  }
  .cardtag {
    left: 70px;
    font-size: 18px;
  }
  .imgtext {
    background-size: 180px;
  }
  .imgtext h2 {
    font-size: 15px;
  }
  .imgtext p {
    font-size: 15px;
  }
  .imgtexts {
    background-size: 200px;
  }
  .imgtexts h2 {
    font-size: 15px;
  }
  .imgtexts p {
    font-size: 15px;
  }
}
